.container-fluid.py-5
  .row
    .col-md-3
      .card
        h4.card-header
          | card 1
        .card-body
          p Bonjour consectetur adipisicing elit. Soluta obcaecati quisquam sapiente perspiciatis, harum odit cum laboriosam distinctio repudiandae quos eligendi reprehenderit, assumenda laudantium, quod quis. Sunt amet delectus laudantium!
    .col-md-3
      .card
        h4.card-header
          | card 2
        .card-body
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta obcaecati quisquam sapiente perspiciatis, harum odit cum laboriosam distinctio repudiandae quos eligendi reprehenderit, assumenda laudantium, quod quis. Sunt amet delectus laudantium!
    .col-md-3
      .card
        h4.card-header
          | card 1
        .card-body
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta obcaecati quisquam sapiente perspiciatis, harum odit cum laboriosam distinctio repudiandae quos eligendi reprehenderit, assumenda laudantium, quod quis. Sunt amet delectus laudantium!
    .col-md-3
      .card
        h4.card-header
          | card 1
        .card-body
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta obcaecati quisquam sapiente perspiciatis, harum odit cum laboriosam distinctio repudiandae quos eligendi reprehenderit, assumenda laudantium, quod quis. Sunt amet delectus laudantium!
    .col-md-6.mt-5
      .card
        .card-body
          ul.list-group
            li.list-group-item Cddd
            li.list-group-item Dapibus ac facilisis in
            li.list-group-item Morbi leo risus
            li.list-group-item Porta ac consectetur ac
            li.list-group-item Vestibulum at eros
