.container-fluid.py-5
  .row
    .col-md-3
      .card
        h4.card-header
          | card 1
        .card-body
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta obcaecati quisquam sapiente perspiciatis, harum odit cum laboriosam distinctio repudiandae quos eligendi reprehenderit, assumenda laudantium, quod quis. Sunt amet delectus laudantium!
    .col-md-3
      .card
        h4.card-header
          | card 1
        .card-body
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta obcaecati quisquam sapiente perspiciatis, harum odit cum laboriosam distinctio repudiandae quos eligendi reprehenderit, assumenda laudantium, quod quis. Sunt amet delectus laudantium!
    .col-md-3
      .card
        h4.card-header
          | card 1
        .card-body
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta obcaecati quisquam sapiente perspiciatis, harum odit cum laboriosam distinctio repudiandae quos eligendi reprehenderit, assumenda laudantium, quod quis. Sunt amet delectus laudantium!
    .col-md-3
      .card
        h4.card-header
          | card 1
        .card-body
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta obcaecati quisquam sapiente perspiciatis, harum odit cum laboriosam distinctio repudiandae quos eligendi reprehenderit, assumenda laudantium, quod quis. Sunt amet delectus laudantium!
