header.demo-header.mdl-layout__header.mdl-color--grey-800.mdl-color-text--grey-600.is-casting-shadow
  .mdl-layout__drawer-button(aria-expanded='false', role='button', tabindex='0')
    i.material-icons 
  .mdl-layout__header-row
    span.mdl-layout-title Home
    .mdl-layout-spacer
    .mdl-textfield.mdl-js-textfield.mdl-textfield--expandable.is-upgraded(data-upgraded=',MaterialTextfield')
      label.mdl-button.mdl-js-button.mdl-button--icon(for='search', data-upgraded=',MaterialButton')
        i.material-icons search
      .mdl-textfield__expandable-holder
        input#search.mdl-textfield__input(type='text')
        label.mdl-textfield__label(for='search') Enter your query...
    button#hdrbtn.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon(data-upgraded=',MaterialButton,MaterialRipple')
      i.material-icons more_vert
      span.mdl-button__ripple-container
        span.mdl-ripple.is-animating(style='width: 92.5097px; height: 92.5097px; transform: translate(-50%, -50%) translate(21px, 19px);')
    .mdl-menu__container.is-upgraded(style='right: 40px; top: 48px; width: 141.533px; height: 160px;')
      .mdl-menu__outline.mdl-menu--bottom-right(style='width: 141.533px; height: 160px;')
      ul.mdl-menu.mdl-js-menu.mdl-js-ripple-effect.mdl-menu--bottom-right.mdl-js-ripple-effect--ignore-events(for='hdrbtn', data-upgraded=',MaterialMenu,MaterialRipple', style='clip: rect(0px, 141.533px, 0px, 141.533px);')
        li.mdl-menu__item.mdl-js-ripple-effect(tabindex='-1', data-upgraded=',MaterialRipple', style='')
          | About
          span.mdl-menu__item-ripple-container
            span.mdl-ripple
        li.mdl-menu__item.mdl-js-ripple-effect(tabindex='-1', data-upgraded=',MaterialRipple', style='')
          | Contact
          span.mdl-menu__item-ripple-container
            span.mdl-ripple
        li.mdl-menu__item.mdl-js-ripple-effect(tabindex='-1', data-upgraded=',MaterialRipple', style='')
          | Legal information
          span.mdl-menu__item-ripple-container
            span.mdl-ripple
